.reasonsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	width: 100vw;
}

.reasons {
	width: 100%;
	height: auto;
	margin: 20px auto;

	display: flex;
	align-items: center;
	justify-content: space-around;

	flex-wrap: wrap;
}

.reasonsTitle {
	width: 90%;
	font-size: 24px;
	font-weight: 700;
	margin: 10px;
	color: #1d4259;
	border-bottom: 1px solid black;
}

.allBoxes {
	display: flex;
	flex-direction: column;

	align-items: center;
	text-align: center;
	justify-content: center;

	width: 180px;
	height: 182px;

	padding: 70px 40px;
	margin: 10px 20px 10px 20px;

	border-radius: 32px;

	align-content: stretch;

	box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.3);
	background: linear-gradient(to top, #1d4259, #05aff2);

	color: white;
}

.allBoxes .iconBg {
	margin: 10px;
}

.iconReasons {
	font-size: 30px;
}

@media (min-width: 1024px) {
	.container h2 {
		font-size: 40px;
	}

	.allBoxes {
		width: auto;
	}

	.allBoxes .iconReasons {
		font-size: 40px;
	}

	.allBoxes p {
		font-size: 20px;
	}
}

@media (min-width: 2560px) {
	.container h2 {
		font-size: 60px;
		margin: 40px 0 40px 0;
	}

	.allBoxes {
		flex: 1 1 auto;
		height: 300px;
	}

	.allBoxes .iconReasons {
		font-size: 60px;
	}

	.allBoxes p {
		font-size: 40px;
	}
}
