.formContainer {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 100%;

	text-align: center;

	padding: 5px;
	margin: 50px;

	border-radius: 12px;
}

.formBox h2 {
	margin-bottom: 25px;
	font-size: 26px;

	padding: 15px;

	border-bottom: 3px solid var(--orange);
	border-radius: 10px;
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.1);
}

.boxInput {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 10px;
	margin: 45px 0 15px 0;
}

.boxInput label {
	font-size: 24px;
}

.absolutLeft {
	position: absolute;
	left: -5000px;
}

.displayNone {
	display: none;
}

.button {
	padding: 16px 32px 16px 32px;
	border-radius: 8px;
	background-color: var(--orange);
	color: var(--white);
}

.requiredEmail {
	border: 1px solid var(--darkBlue);
	border-radius: 3px;
}

@media (min-width: 768px) {
	.boxInput {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: center;
		max-width: 100%;
		gap: 10px;
	}

	.boxInput Input {
		width: 395px;
	}
}
