.footerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: var(--darkBlue);
	padding: 20px;
	gap: 25px;
}

.footerContainer h4 {
	color: var(--softGray);
	margin-bottom: 15px;
}

.footerCursos,
.footerFormei {
	margin-bottom: 15px;
}

.footerFormei > div,
.footerCursos > div {
	display: flex;
	flex-direction: column;
	gap: 10px;
	color: var(--softGray);
}

@media (min-width: 768px) {
	.footerContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		align-items: center;
		text-align: center;
	}

	.footerContainer h4 {
		margin-bottom: 22px;
		font-size: 60px;
	}

	.footerFormei > div,
	.footerCursos > div {
		font-size: 28px;
		gap: 24px;
	}
}

@media (min-width: 2560px) {
	.footerContainer h4 {
		margin-bottom: 22px;
		font-size: 80px;
	}

	.footerFormei > div,
	.footerCursos > div {
		font-size: 30px;
		gap: 20px;
	}
}
