.dpTitle {
	display: flex;
	justify-content: center;
	margin: 30px auto;

	border-bottom: 1px solid var(--orange);

	width: 50vw;
}

.dpTitle h3 {
	font-size: 30px;
}

.dpContainer {
	text-align: center;

	border-radius: 16px;
	border: 1px solid var(--darkBlue);

	width: 90vw;
	height: auto;
	margin: 0 auto;
	padding: 16px;
}

.swiper-wrapper {
	align-items: center;
}

.depoiments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.depoiments h4 {
	margin: 12px 0 40px 0;
}

.depoiments p {
	padding: 10px;
}

.depoiments img {
	object-fit: cover;
	border-radius: 50px;
	width: 100px;
	height: auto;
}

@media (min-width: 768px) {
	.dpTitle {
		width: 20vw;
	}

	.depoiments h4 {
		margin-bottom: 40px;
		font-size: 28px;
	}

	.depoiments p {
		margin-bottom: 16px;
		font-size: 20px;
	}

	.depoiments img {
		object-fit: cover;
		border-radius: 50px;
		width: 150px;
		height: auto;
	}
}

@media (min-width: 1024px) {
	.dpTitle {
		width: 15vw;
	}
}

@media (min-width: 1440px) {
	.dpTitle {
		width: 10vw;
	}

	.dpTitle h3 {
		font-size: 48px;
	}

	.depoiments h4 {
		margin-bottom: 40px;
		font-size: 32px;
	}

	.depoiments p {
		margin-bottom: 16px;
		font-size: 26px;
	}

	.depoiments img {
		object-fit: cover;
		border-radius: 50px;
		width: 200px;
		height: auto;
	}
}
@media (min-width: 2560px) {
	.dpTitle {
		width: 9vw;
	}

	.dpTitle h3 {
		font-size: 60px;
	}

	.depoiments h4 {
		margin-bottom: 40px;
		font-size: 38px;
	}

	.depoiments p {
		margin-bottom: 16px;
		font-size: 36px;
	}

	.depoiments img {
		object-fit: cover;
		border-radius: 50px;
		width: 300px;
		height: auto;
	}
}
