.dpContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 50px 10px 50px 10px;
}

.dpTitle {
	display: flex;
	width: 90%;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid var(--darkBlue);

	margin-bottom: 25px;
}

.dpButton {
	background-color: var(--orange);
	margin: 2px;
	font-size: 20px;
}

.depoiments {
	border: 1px solid var(--darkBlue);
	border-radius: 16px;
	padding: 15px;
	margin: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.depoiments p {
	padding: 10px;
	font-size: 18px;
}

.depoiments img {
	object-fit: cover;
	border-radius: 50px;
	margin: 10px;
}

.dpBoxes {
	width: 90%;
}

@media (min-width: 768px) {
	.dpBoxes {
		display: flex;
		flex-direction: row;
		max-width: 90%;
	}

	.depoiments p {
		padding: 10px;
		font-size: 22px;
	}
}
